## Part I: Lists and Loops

1) Create a list with the names of every planet in the solar system (in order)

In [1]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
type(planets)

list

2) Have Python tell you how many planets there are by examining your list

In [2]:
planet_count = len(planets)
planet_count

8

3) Use slicing to display the first four planets (the rocky planets)

In [3]:
rocky_planets = planets[:4]
rocky_planets

['Mercury', 'Venus', 'Earth', 'Mars']

4) Iterate through your planets and print the planet name only if it has an s at the end

In [5]:
planets_endwith_s = []
for planet in planets:
    if planet.endswith("s"):
        planets_endwith_s.append(planet)

planets_endwith_s

['Venus', 'Mars', 'Uranus']

## Part II: Dictionaries

1) Now create a dictionary that maps each planet name to its mass

In [6]:
planet_masses = {
    "Mercury": 0.330,
    "Venus": 4.87,
    "Earth": 5.97,
    "Mars": 0.642,
    "Jupiter": 1898,
    "Saturn": 568,
    "Uranus": 86.8,
    "Neptune": 102
}

2) Use your dictionary to look up Earth’s mass

In [7]:
print("Earth's mass：", planet_masses["Earth"], "x 10^24 kg")

Earth's mass： 5.97 x 10^24 kg

3) Loop through the data and create a list of planets whose mass is greater than 100 x 10^24 kg

In [8]:
heavy_planets = []
for planet, mass in planet_masses.items():
    if mass > 100:
        heavy_planets.append(planet)

print("Plant's mass is greater than 100 x 10^24 kg：", heavy_planets)

Plant's mass is greater than 100 x 10^24 kg： ['Jupiter', 'Saturn', 'Neptune']

4) Now add pluto to your dictionary

In [9]:
planet_masses['Pluto'] = 0.013
planet_masses

{'Mercury': 0.33,
 'Venus': 4.87,
 'Earth': 5.97,
 'Mars': 0.642,
 'Jupiter': 1898,
 'Saturn': 568,
 'Uranus': 86.8,
 'Neptune': 102,
 'Pluto': 0.013}

## Part III: Functions

1. Write a function to convert temperature from kelvin to celsiusn

In [10]:
def convert_temp(temp, celsius=False):
    """Converts temperature between Kelvin and Celsius."""
    if celsius:
        return temp - 273.15  # Kelvin to Celsius
    else:
        return temp + 273.15  # Celsius to Kelvin

2. Write a function to convert temperature to fahrenheit

In [11]:
def temp_to_fahrenheit(temp, celsius=True):
    """Convert temperature to Fahrenheit."""
    if celsius:
        result = temp * (9/5) + 32  # Celsius to Fahrenheit
    else:
        # Assuming temp is in Kelvin, convert to Celsius first
        temp = convert_temp(temp, celsius=True)
        result = temp * (9/5) + 32
    return str(result) + ' F°'

3) Check that the outputs are sensible

In [12]:
print("100°C to Fahrenheit:", temp_to_fahrenheit(100, celsius=True))
print("273.15K to Fahrenheit:", temp_to_fahrenheit(273.15, celsius=False))

100°C to Fahrenheit: 212.0 F°
273.15K to Fahrenheit: 32.0 F°

4) Now write a function that converts from fahrenheit

In [13]:
def fahrenheit_to_temp(fahrenheit, kelvin=False):
    """Convert temperature from Fahrenheit to either Celsius or Kelvin."""
    result = (fahrenheit - 32) * 5/9  # Convert from Fahrenheit to Celsius
    if kelvin:
        result = convert_temp(result)  # Convert from Celsius to Kelvin
    append_unit = ' K' if kelvin else ' C°'
    return str(result) + append_unit

In [14]:
print("212°F to Celsius:", fahrenheit_to_temp(212, kelvin=False)) 
print("32°F to Kelvin:", fahrenheit_to_temp(32, kelvin=True))

212°F to Celsius: 100.0 C°
32°F to Kelvin: 273.15 K

5) Write a function that takes two arguments (feet and inches) and returns height in meters

In [15]:
def feet_inches_to_meters(feet, inches):
    """Convert height from feet and inches to meters."""
    total_inches = feet * 12 + inches
    meters = total_inches * 0.0254
    return meters

feet_inches_to_meters(2, 3)

0.6858

6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [16]:
def meters_to_feet_inches(meters):
    """Convert height from meters to feet and inches."""
    total_inches = meters / 0.0254
    feet = int(total_inches // 12)
    inches = total_inches % 12

    return feet, inches

meters_to_feet_inches(3)

(9, 10.110236220472444)

7) Verify that the “round trip” conversion from and back to meters is consistent

In [17]:
meter1 = 3
feet, inches = meters_to_feet_inches(meter1)
feet_inches_to_meters(feet, inches)

3.0

In [18]:
meter2 = 33
feet, inches = meters_to_feet_inches(meter2)
feet_inches_to_meters(feet, inches)

33.0

In [19]:
meter3 = 333
feet, inches = meters_to_feet_inches(meter3)
feet_inches_to_meters(feet, inches)

333.0